body {
  margin: 0 auto;
}

.appWrapper {
  padding: 0 600px;
}

.wrapper {
  margin-top: 20px;
}

header.appHeader {
  padding: 20px 0 0;
}

.main {
  display: flex;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expiration {
  font-size: 12px;
}

.red {
  color: red;
}

.todoWrapper {
  display: flex;
  padding: 10px;
}

.instrumentsPanel {
  padding-left: 10px;
}

.focused {
  background-color: rgb(243, 243, 243);
}

.title {
  font-size: 20px;
  padding-top: 3px;
}

.deleteButton {
  margin-left: auto;
}

.completed {
  text-decoration: line-through;
}

.formError {
  color: red;
  margin: 0;
  font-size: 12px;
  height: 15px;
}

.noTodosWrapper {
  margin-top: 100px;
  text-align: center;
}
